body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 30px 70px 0px 70px;
  font-family: 'Encode Sans', sans-serif;
  height: auto;
  background-color: #E5E5E5;
  ;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 171px;
}

nav {
  font-family: Encode Sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;

  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.nav-mobile {
  display: none;
}

a {
  text-decoration: none;
}

.cor-1 {
  color: #c3170c;
}

.cor-2 {
  color: #1e4b9b;
}

.cor-3 {
  color: #006766;
}

.cor-4 {
  color: #07aa47;
}

.cor-5 {
  color: #e3662b;
}

.cor-6 {
  color: #fb0735;
}

.cor-7 {
  color: #ff75bb;
}

.cor-8 {
  color: #ec7d00;
}

.cor-9 {
  color: #323333;
}

.cor-10 {
  color: #a81d83;
}

.cor-esquerda {
  color: #16ae54;
}

.cor-direita {
  color: #ec8006;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linha-vertical {
  height: 100%;
  width: 1px;
  background-color: rgb(235, 237, 239);
  border-radius: 5px;
  content: ' ';
  opacity: 0.8;
}

.part-esquerda {
  display: flex;
  width: 50%;
  flex-direction: column;
  border-right: solid 1px rgba(235, 237, 239, 0.8);
  padding-right: 50px;
}

.part-direita {
  display: flex;
  width: 50%;
  flex-direction: column;
}





.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.texto-destaque {
  padding-bottom: 25px;
  border-bottom: solid 1px rgba(235, 237, 239, 0.8);
}

.texto-destaque h1 {
  color: #c4160c;
  margin: 0;
  font-weight: 700;
  font-size: 52px;
  font-weight: bold;
}

.container-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.container-box2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 70px;
  max-height: 900px;
}

.box {
  display: flex;
  gap: 10px;
  flex-direction: column;

  max-width: 180px;
}

.box2 {
  display: flex;
  gap: 10px;
  flex-direction: column;

  max-width: 240px;
}


.box * {
  margin: 0;
}

.box2 * {
  margin: 0;
}

.box img {
  width: 100%;
  height: 110px;
  border-radius: 12px;
}

.box2 img {
  width: 100%;
  height: 128px;
  border-radius: 12px;
  flex-direction: row;
}

h5 {
  color: #c4170c;
}

h4 {
  color: #2f3134;
}

P {
  color: #2f3134;
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
  }

  .container-box2 {

    flex-wrap: nowrap;

  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
  }

  .nav-mobile>a {
    margin-right: 10px;
  }

  .texto-destaque h1 {
    font-size: 25px;
  }

  body {
    width: 85%;
    margin: 0 auto;
  }

  .part-esquerda {
    width: 100%;
  }

  .part-direita {
    width: 100%;
  }

  .part-esquerda {
    width: 100%;
  }

  .box {
    max-width: none;
    display: flex;

  }

  .box img {
    max-width: 180px;

  }

  .container-box2 {
    margin-left: 0;
  }

  .box2 {
    max-width: none;
    display: flex;

  }

  .box2 img {
    max-width: 180px;

  }
}